html{
	background-color:#BBDEFB;
}
main{
	width:600px;
	background-color:#64B5F6;
	margin:0 auto;
	padding:0px 20px 20px 20px;
	border:1px solid black;
	position:relative;
	top:50px;
	height:100%;
}
button{
	width:100px;
	height:50px;
}
h1{
	color:#0D47A1;
}
.menu{
	width: 0;
	height:100%;
	background-color: #BBDEFB;
	position:fixed;
	top:0;
	left:0;
	transition:0.5s;
	z-index: 1;
	overflow-x: hidden;
	 padding-top: 50px;
}
#logo{
	width:650px;
	position:center;
	left:300px;
	border: 2px solid black;
}
.menu a{
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #90CAF9;
    display: block;
    transition: 0.3s;
}
.menu a:hover {
    color: #BBDEFB;
}
.menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
span{
	position:fixed;
}
h5{
	color:#42A5F5;
}