html{
	background-color:#BBDEFB;
}
main{
	width:600px;
	background-color:#64B5F6;
	margin:0 auto;
	padding:0px 20px 20px 20px;
	border:1px solid black;
	position:relative;
	top:50px;
	height:100%;
}
button{
	width:100px;
	height:50px;
}
h1{
	color:#0D47A1;
	font-family: 'Varela Round', sans-serif;

}
p{
	font-family: 'Varela Round', sans-serif;

}
#logo{
	
	position:relative;
	border: 2px solid black;
}

span{
	position:fixed;
}
h5{
	color:#0D47A1;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #64B5F6;
	color: #BBDEFB;
	text-align: center;
	border-top: 5px solid #0D47A1;
	transition: 0.3s;
}
footer:hover{
	height: 100px;
}
.filtry{
	transition: 0.3s;
}
/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #BBDEFB;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #0D47A1;
	border-radius: 10px;
}
label,input,button,a,i{
	font-family: 'Varela Round', sans-serif;

}
body{
	background-color: #0D47A1;

}
* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.form-control {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #64B5F6;
}

/* Set a style for the submit button */
.btn {
  background-color: #64B5F6;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
.chip {
	display: inline-block;
	padding: 0 25px;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #0D47A1;
  }
  
  .chip img {
	float: left;
	margin: 0 10px 0 -25px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
  }