a {
    font-family: 'Roboto', sans-serif;
    color: yellow;
    font-size: 14px;  
  }
body {
    width: 600px;
    margin: 0 auto;
    background-color: #64B5F6;
    padding: 0 10px 10px 10px;
    border: 3px black;
  }
h1 {
    margin: 0;
    text-align:center;
    padding: 20px 0;    
    color: #0D47A1;
    text-shadow: 1px 1px 1px black;
  }
html {
    background-color: #1E88E5;
  }
img {
    display: block;
    margin: 0 auto;
  }  
p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
    line-height: 2;
    letter-spacing: 1px;
  }