html{
	background-color:#343a40;
}
main{
	width:600px;
	background-color:#435c77;
	margin:0 auto;
	padding:0px 20px 20px 20px;
	position:relative;
	top:0px;
	height:100%;
}
button{
	width:100px;
	height:50px;
}
h1{
	color:#383d41;
	font-family: 'Varela Round', sans-serif;

}
p{
	font-family: 'Varela Round', sans-serif;

}
#logo{
	
	position:relative;
	border: 2px solid black;
}

span{
	position:fixed;
}
h5{
	color:#007bff;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #343a40;
	color: white;
	text-align: center;
	border-top: 5px solid #007bff;
	transition: 0.3s;
}
footer:hover{
	height: 100px;
}
.filtry{
	transition: 0.3s;
}
/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: orangered;
	border-radius: 10px;
}
label,input,button,a,i{
	font-family: 'Varela Round', sans-serif;

}
body{
	background-color: #203f60;

}