p{
	color:#0D47A1;
	width:500px;
	border:1px solid black;
	text-align:center;	
}
h1{
	font-size: 60px;
	text-align:center;
	color:#0D47A1;
	margin:0;
	text-shadow:3px 3px 1px black;
}
p,li{
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	margin:3px auto;
}
p{
	
	background-color:#64B5F6
}
img{
	width:500px;
	display:block;
	margin: 0 auto;
}
html{
	background-color:#BBDEFB;
}
body{
	width:600px;
	margin:0 auto;
	background-color:#64B5F6;
	padding:0 20px 20px 20px;
	border:5px solid black;
	border-radius:90%;
}
#logo{
	border:5px solid black;
	width:500px;
	left: 50px;
	position:relative;
	top:3px;
}
blockquote{
	font-weight:bold;
}
#figura{
	background-color:#64B5F6;
	border:2px solid black;
}
iframe{
	width:600px;
	height:500px;
}
table,th,td{
	border:1px solid black;
}
ol,li{
	position: relative;
	left:2cm;
	color: #0D47A1;
}
#tabelka{
	position:relative;
	left:200px;
}
td{
	background-color:#64B5F6;
	color:#0D47A1;
}
blockquote{
	font-family:'Arial';
	font-size:10px;
	color:#0D47A1;
}
#link{
	width:100px;
	height:50px;
	background-color:#64B5F6;
	text-align:center;
	text-decoration:none;
	border:1px solid black;
	vertical-align: middle;
	line-height: 50px;
	font-size:20px;
	border-radius : 15px; 
	text-shadow:2px 2px 1px black;
}
a{
	text-decoration:none;
	color:#0D47A1;
}
a:hover{
	color:#0D47A1;
}
#link:hover{
	background-color:blue;
}
iframe{
	border: 2px solid black;
}
.okrag{
	border-radius:100%;
}